<h3> View Produit Details</h3>
<div>
    <div>
        <label> <b> Libelle </b></label> : {{produit.libelle}}
    </div>
    <div>
        <label> <b> Description </b></label> : {{produit.description}}
    </div>
    <div>
        <label> <b> Status: </b></label>  : {{produit.status}}
    </div>
    <div>
        <label> <b> Prix </b></label> : {{produit.prix}}
    </div>
    <div>
        <label> <b> Quantite </b></label> : {{produit.quantite}}
    </div>
    <div>
        <label> <b> Taux_tva </b></label> : {{produit.taux_tva}}
    </div>
    
</div>